[Unit]
Description=GenieACS CWMP
After=network.target mongodb.service

[Service]
User=genieacs
EnvironmentFile=/opt/genieacs/config.env
ExecStart=/usr/bin/genieacs-cwmp
Restart=always

[Install]
WantedBy=multi-user.target
